<link href="/css/home.css" rel="stylesheet" />
<% layout("/layout/boilerplate.ejs") %>

<div class="container">
  <header>
    <h1>Welcome to Invoice Generator</h1>
    <p>
      Your one-stop solution for generating professional invoices effortlessly.
    </p>
  </header>
  <main>
    <div class="button-container">
      <a href="/list" class="generate-button">Generate Invoice</a>
    </div>
    <div class="additional-info">
      <p>Sign up for more features and benefits!</p>
      <a href="/signup" class="link-button">Sign Up</a>
      <a href="/login" class="link-button">Login</a>
    </div>
  </main>
  <footer>
    <p>&copy; 2024 Your Company. All rights reserved.</p>
  </footer>
</div>
