body {
  margin: 0;
  padding: 0;
  font-family: Montserrat;
  background-image: url("./images/abstract-luxury-blur-grey-color-gradient-used-as-background-studio-wall-display-your-products.jpg");
}
nav {
  height: 3.5rem;
  display: flex;
  flex-wrap: wrap;
  width: 100vh;
  position: sticky;
  top: 0;
  z-index: 2;
}
nav a {
  text-decoration: none;
  margin-left: 2rem;
  margin-right: 2rem;
  width: 7rem;
  text-align: center;
  padding-top: 0.4rem;
  height: 2rem;
  margin-top: 0.5rem;
  border-radius: 15%;
  color: white;
  background-color: #0d6efd;
}
nav button {
  font-size: 1rem;
  margin-left: 2rem;
  width: 7rem;
  text-align: center;
  height: 2.4rem;
  margin-top: 0.5rem;
  border-radius: 15%;
  color: white;
  background-color: #dc3545;
}
.container {
  background-color: rgba(255, 255, 255, 0.909);
  width: 850px;
  height: 1250px;
  border: 1px solid black;
  margin: auto;
  padding: 2rem;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  z-index: 1;
}
.head {
  height: 100px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.logo img {
  height: 6rem;
  width: 6rem;
}
.fallback-text {
  font-size: 2rem;
  font-weight: bold;
  color: #003366;
  justify-items: center;
}
.main {
  height: auto;
  width: 100%;
  margin-top: 0;
  display: flex;
  flex-direction: column;
}
.inv {
  height: 6rem;
  width: 100%;
  background-color: white;
  font-size: xx-large;
  line-height: 0;
}
.date h2 span {
  font-weight: 400;
  font-size: 80%;
}
.bill-detail {
  display: flex;
  justify-content: space-between;
}
.bill-to {
  width: 50%;
  padding-right: 0.8rem;
}
.from {
  width: 50%;
}
.tbl {
  display: flex;
  flex-direction: column;
  flex: 1;
}

table {
  width: 100%;
  height: fit-content;
  text-align: center;
}

thead {
  height: 30px;
  background-color: #c9cacb;
}

tbody tr {
  line-height: 30px;
}
tfoot {
  line-height: 40px;
}
tfoot th {
  text-align: end;
  padding-right: 50px;
  border-top: 3px solid #c9cacb;
  border-bottom: 3px solid #c9cacb;
}
tfoot td {
  border-top: 3px solid #c9cacb;
  border-bottom: 3px solid #c9cacb;
}
.payment {
  display: flex;
}
.payment p {
  padding-left: 10px;
  line-height: 2;
}

.footer {
  height: auto;
  display: flex;
  flex: 1;
}
.footer div {
  width: 50%;
}

.one {
  background-color: #c9cacb;
  border-top-right-radius: 60%;
}
.two {
  background-color: #202020;
  border-top-left-radius: 60%;
}
