<% layout("/layout/boilerplate.ejs") %>
<link href="css/signup.css" rel="stylesheet" />
<div class="row mt-3" id="main_div">
  <div id="second_main" class="col-6 offset-2">
    <h1 class="mb-4">Sign up</h1>
    <form method="post" action="/signup" novalidate class="needs-validation">
      <div class="mb-3">
        <label class="form-label" for="username"><b>Username</b></label>
        <input
          class="form-control"
          placeholder="Enter username"
          id="username"
          name="username"
          required
        />
        <div class="invalid-feedback">Please enter valid username</div>
      </div>
      <div class="mb-3">
        <label class="form-label" for="email"><b>Email</b></label>
        <input
          placeholder="Enter email"
          class="form-control"
          id="email"
          name="email"
          type="email"
          required
        />
        <div class="invalid-feedback">Please enter valid email</div>
      </div>

      <div class="mb-3">
        <label class="form-label" for="password"><b>Password</b></label>
        <input
          class="form-control"
          placeholder="Enter Password"
          id="password"
          name="password"
          type="password"
          required
        />
        <div class="invalid-feedback">Please enter valid password</div>
      </div>
      <div class="mb-3 col-5">
        <input
          style="display: none"
          name="otp"
          id="otpInput"
          type="number"
          placeholder="Enter otp"
          class="form-control"
          required
        />
        <div class="invalid-feedback">Please enter valid otp</div>
      </div>
      <div class="row" id="btn-collection">
        <div class="col-3">
          <p style="display: none" id="tempory">Resend otp after 30 second</p>
          <button type="button" id="otpGen" class="btn btn-outline-danger">
            Generate otp
          </button>
        </div>
        <div class="col-3 ms-5">
          <button id="sub_signup" class="btn btn-outline-success">
            submit
          </button>
        </div>
      </div>
    </form>
  </div>
</div>
